<h2 style='position: fixed;margin-top: -80px; margin-left: 470px;' [@MenuComponent]='currentState'><b>Added to Cart</b></h2>
<!-- <button (click)='changeState()'>Hit me</button> -->
    <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">


      <table style="width:100%">
          <tr>
            <th>Dish</th>
            <th>Price</th>
            <th>Vegan</th>
            <th >Add to cart</th>
          </tr>

          <tr *ngFor='let dish of dishes'>
              <td class='td'>{{ dish.dish_name }}</td>
              <td >${{ dish.price }}</td>
              <td >{{ dish.is_vegan }}</td>
              <td> <button *ngIf='this.LoginService.login' (click)='addToCart(dish)' class='addToCart' id='{{ dish.id }}' > Add To Cart</button> </td>
            </tr>

          
        </table>

      
    </div>
 
    

